{% trans_default_domain 'FOSUserBundle' %}
<h3 class="mb-3">Zarejestruj się</h3>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
