<nav class="navbar navbar-expand-md navbar-dark sidebar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leftMenu" aria-controls="leftMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="leftMenu">
        <div class="nav flex-column">
            <a href="#">Eventy</a>
            <a href="{{ path('panelNewEvent') }}">Nowy event</a>
            <a href="#">Użytkownicy</a>
        </div>
    </div>
</nav>