@import "~bootstrap/scss/bootstrap";
@import'~summernote/dist/summernote-bs4';


@media (min-width: 768px){
  .sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 0;
    position: fixed;
    bottom: 0px;
    top: 70px;
  }
}
.sidebar a{
  color: white;
  margin: 0 3px 5px 3px;
}

.event{
  .card-body{
    max-height: 100px;
    overflow-y: auto;
  }

  .link{
    text-decoration:none;
    color: black;
  }
}